
<div class="container-fluid" style="font-family: 'Montserrat'">
  <div class="row">
<h1>Social login</h1>

    <button class="btn btn-primary" style="background-color: #385998; border-color: #ffffff; color: #ffffff;font-family: 'Montserrat';height: 50px;padding: 10px 20px;font-size: 20px" type="button" (click)="loginWithFB()" *ngIf="loggedStatus===false" >Sign In With Facebook</button>


    <div class="card" style="width: 20%; margin-top: 20px;text-align: center;border: #385998 solid 1px;padding:20px 15px;background: #e6e4e4" *ngIf="loggedStatus===true">






        <div><h2>Your Facebook Profile:</h2></div>
        <div>Full Name: {{loginUser.firstName}} {{loginUser.lastName}}</div>
      <img style="margin-top: 20px" [src]="loginUser.photoUrl">
      <div>
        <button class="btn btn-primary" style="margin-top: 20px;background-color: #385998; border-color: #ffffff; color: #ffffff;font-family: 'Montserrat';height: 50px;padding: 5px 30px;font-size: 20px" type="button" (click)="logOut()" *ngIf="loggedStatus===true">Sign out</button>

      </div>

    </div>

    

</div>

<router-outlet></router-outlet>
